<div class="ui container raised segment">
  <%= form_for @specialization, html: {class: "ui form"} do |f| %>
    <% if @specialization && @specialization.errors.any? %>
      <ul>
      <% @specialization.errors.full_messages.each do |error_message| %>
        <li class="error-messages"><%= error_message %></li>
      <% end %>
      </ul>
    <% end %>
  
   <div class="input-field">
     <div class="field">
       <%= f.label :name %>
       <%= f.text_field :name %>
     </div>
   </div>
    
    <div class="button-group">
      <%= f.submit "Submit", class: "ui button button-centered" %>
    </div>
  <% end %>
</div>
