<%= form_for @patient, html: {class: "ui form"} do |f| %>
  <% if @patient && @patient.errors.any? %>
    <ul>
      <% @patient.errors.full_messages.each do |error_message| %>
        <li class="error-messages"><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :email%>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :address%>
    <%= f.text_field :address %>
  </div>
  
  <div class="button-group">
    <%= f.submit "Submit", class: "ui button button-centered" %>
  </div>
<% end %>
