<div class="column" id="card-column">
  <div class="ui raised green card">
    <div class="content">
      <div class="header">
        <%= link_to doctor.name, doctor_path(doctor), class: "header"%>
        <div class="right floated vertical-ellipsis" data-id="<%= doctor.id %>">
          <div class="ui dropdown icon button" id="toggle-btn">
            <%= semantic_icon("ellipsis vertical icon", id: "vertical-icon") %>
          </div>
        </div>
      </div>
      <div class="stuff">
        <div class="image">
          <%= image_tag("android-chrome-512x512.png", class: "ui avatar image") %>
        </div>
        <div class="right floated resource-action-buttons hidden" id="icon-group-<%= doctor.id %>">
          <%= link_to semantic_icon("edit icon"), edit_doctor_path(doctor), id: "edit-resource"%>
          <%= link_to semantic_icon("trash icon"), doctor, method: :delete,
                                         data: {confirm: "You sure?"},
                                         id: "delete-resource" %> 
        </div>
      </div>
    </div>
    <div class="extra-content">
      <span class="left"><%= doctor.email %></span>
    </div>
  </div>
</div>
