<%= form_for @doctor, html: {class: "ui form"} do |f| %>
  <div class="">
    <div class="field">
      <%= f.label :name%>
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="">
    <div class="field">
      <%= f.label :email%>
      <%= f.text_field :email %>
    </div>
  </div>
  
  <div class="button-group">
    <%= f.submit "Submit", class: "ui button button-centered" %>
  </div>
<% end %>
