<h1>Edit Dr <%= @doctor.name %></h1>

<div class="">
  <%= form_for(@doctor) do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name %>
    
    <%= f.label :email%>
    <%= f.text_field :email %>
    
    <%= f.submit "Submit" %>
  <% end %>
</div>
