<div class="appointment">
  <div class="ui container raised segment">
    <%= form_for @appointment, html: {class: "ui form"} do |f| %>
      <div class="input-field">
        <div class="field">
          <%= f.label :appointment_date%>
          <%= f.date_field :appointment_date %>
        </div>
      </div>
      
      <div class="input-field">
        <div class="field">
          <%= f.label :specialization %>
          <%= f.collection_select(:specialization_id, retrieve_specializations, :id, :name, {}, { class: "ui dropdown" }) %>
        </div>
      </div>
      
      <div class="button-group">
        <%= f.submit "Submit", class: "ui button button-centered" %>
      </div>
    <% end %>
  </div>
</div>
