<div class="appointment-form">
  <div class="ui container raised segment">
    <%= form_for @appointment, html: {class: "ui form"} do |f| %>
    <% if @appointment && @appointment.errors.any? %>
      <ul>
      <% @appointment.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
      </ul>
    <% end %>
      <div class="input-field">
        <div class="field">
          <%= f.label :appointment_date%>
          <%= f.date_field :appointment_date %>
        </div>
      </div>
      
      <div class="input-field">
        <div class="field">
          <%= f.label :specialization %>
          <%= f.collection_select(:specialization_id, retrieve_specializations, :id, :name, {}, { class: "ui dropdown" }) %>
        </div>
      </div>

      <% if current_doctor.admin? %>
        <%= hidden_field_tag :admin, true %>
        <div class="input-field">
          <div class="field">
             <%= f.label :doctor %>
             <%= f.collection_select(:doctor_id, get_doctors_by_specialization(@appointment.specialization_id), :id, :name, {}, { class: "ui dropdown" }) %>
          </div>
        </div>
        <!-- <%= get_doctors_by_specialization(@appointment.specialization_id) %> -->
      <% end %>
      
      <div class="button-group">
        <% if calling_view == 'edit' %>
          <%= f.submit "Approve appointment", class: "ui button button-centered" %>                 
        <% elsif calling_view == 'new' %>
          <%= f.button "Book Appointment", controller: 'appointments', method: 'approve', params: params, class: "ui button button-centered" %>      
        <% end %>
       <!-- <%= f.submit "Submit", class: "ui button button-centered" %> -->
      </div>
    <% end %>
  </div>
</div>
