<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('android-chrome-512x512.png') %>
  </head>

  <body class="main-site">
    <%= render "layouts/header" %>
    <!-- <div class="container"> -->
    <% flash.each do |key, value| %>
      <div class="ui <%= key %> message">
        <i class="close icon"></i>
        <%= value %>
      </div>
    <% end %>
    <!-- </div> -->
    <div class="main-content"><%= yield %></div>
    <%= render "layouts/footer" %>
  </body>
  <!--  <script src="http://localhost:35729/livereload.js">
    
  </script> -->
</html>
